// -----------------------------------------------------------------------
// Точки медии
// -----------------------------------------------------------------------



$media--m-mobile-end: 549px;
$media--mobile-start: 550px;

$media--mobile-end: 899px;
$media--tablet-start: 900px;
$media--tablet-end: 1199px;
$media--desktop-start: 1200px;
$media--l-desktop-start: 1600px;

