// -----------------------------------------------------------------------
// Основная часть. Фильтр.
// -----------------------------------------------------------------------



.filter {    
    padding: var(--content-margin);

    @media (max-width: $media--mobile-end) {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        background: #fff;
        display: none;
    } 
}

.filter__part {padding-top: 50px;}

.filter-open-mobile {
    padding: 25px var(--content-margin);
    @media (min-width: $media--tablet-start) {display: none;}
}

.filter__close-mobile {
    display: flex;
    justify-content: end;
    
    @media (min-width: $media--tablet-start) {display: none;}
}

.filter__close-button {
    @include button;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: var(--m-size);
    border-bottom: 1px solid var(--body-text-color);
}

.filter__radio-list {
    @include reset-list;
    padding: 0 var(--margin-filter-part);
}

.filter__radio-list li {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 0 10px;
}

.filter__radio {
    position: absolute;
    left: -30px;
}

.filter__radio + .filter__radio-text {
    color: var(--body-text-color);
    font-size: var(--m-size);
    line-height: 1.7;
}

.filter__radio + .filter__radio-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background: currentColor;
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.filter__radio:checked + .filter__radio-text {
    color: var(--red-color);
}

.filter__radio:checked + .filter__radio-text::before {
    width: 25px;
    height: 2px;
}





.filter__checkbox-list {
    @include reset-list;
    padding: 0 var(--margin-filter-part);
}

.filter__checkbox-list li {
    position: relative;
    overflow: hidden;
    font-size: var(--m-size);
    margin: 0;
    padding: 0 0 20px;
}

.filter__checkbox {
    position: absolute;
    left: -30px;
}

.filter__visual-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 10px;
    color: var(--body-text-color);
}

.filter__visual-checkbox svg {display: block;}
.filter__visual-checkbox svg:nth-child(2) {display: none;}

.filter__visual-checkbox svg:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--body-text-color);
}

.filter__checkbox:checked + .filter__visual-checkbox {color: var(--red-color);}
.filter__checkbox:checked + .filter__visual-checkbox svg:nth-child(2) {display: block;}
.filter__checkbox:checked + .filter__visual-checkbox + .filter__checkbox-text {color: var(--red-color);}




.filter__button {
    padding-top: 50px;
}