// -----------------------------------------------------------------------
// Соцсети
// -----------------------------------------------------------------------


.cart__promocode .find-us {margin-top: 30px;}

.find-us__header {
    font-size: var(--m-size);
    line-height: 1.7;
    font-weight: 500;
    color: var(--titles-color);
    margin-bottom: 15px;
}

.find-us__social {
    @include reset-list;
    display: flex;
    align-items: center;
    font-size: var(--xs-size);
    font-weight: 600;
}

.find-us__social li:not(:last-child)::after {
    content: "—";
    margin: 0 10px;
}