// -----------------------------------------------------------------------
// Выбор цены
// -----------------------------------------------------------------------



.range-slider {
    position: relative;
    height: 60px;
}


.range-slider__input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 30px;
    margin: 0;
    z-index: 3;
  }
  
  .range-slider__input:focus {
    outline: none;
  }
  
 // slider track
  .range-slider__input::-webkit-slider-runnable-track {
    background-color: transparent;
    height: 2px;
  }
  
  // slider thumb
  .range-slider__input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: var(--red-color);
    height: 12px;
    width: 12px;
  }
  
  .range-slider__input:focus::-webkit-slider-thumb {
    outline: 3px solid var(--red-color);
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  .range-slider__input::-moz-range-track {
    background-color: transparent;
    height: 2px;
  }
  
  /* slider thumb */
  .range-slider__input::-moz-range-thumb {
    background-color: var(--red-color);
    height: 12px;
    width: 12px;
    border: none; /*Removes extra border that FF applies*/
  }
  
  .range-slider__input:focus::-moz-range-thumb{
    outline: 3px solid var(--red-color);
    outline-offset: 0.125rem;
  }

  .range-slider__track {
    height: 2px;
    background-color: #eee;
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 1;
  }

  .range-slider__active-track {
    height: 2px;
    background-color: var(--red-color);
    width: 50%;
    margin-left: 25%;
    position: absolute;
    top: 30px;
    z-index: 2;
  }

  .slider-value {
    @include font-family-2;
    position: absolute;
    top: 0;
    z-index: 4;
    font-size: var(--xs-size);
    line-height: 1;
  }

  .slider-value--start {left: 10%;}
  .slider-value--end {left: 60%;}