// -----------------------------------------------------------------------
// Основная часть. Поиск.
// -----------------------------------------------------------------------




.search {
    padding: var(--content-margin);
    @media (min-width: $media--tablet-start) {margin-bottom: -20px;}
}

.search-form {    
    position: relative;
}

.search-form__input {
    border: 0;
    border-bottom: 1px solid var(--body-text-color--opacity20);
    font-size: var(--s-size);
    height: 44px;
    line-height: 44px;
    color: var(--body-text-color);
    width: 100%;
    padding-right: 44px;
    box-sizing: border-box;
}

.search-form__input:focus {
    border-color: var(--green-color);
    outline: 0;
}

.search-form__input::placeholder {
    @include font-family-1;
    font-size: var(--s-size);
    color: var(--body-text-color);
    opacity: .5;
}

.search-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #fff;
    color: var(--body-text-color);
    cursor: pointer;
}

.search-form__button:hover {color: var(--red-color);}
