// -----------------------------------------------------------------------
// Список в подвале.
// -----------------------------------------------------------------------



.footer__list {
    margin: 0;
    padding: 0 0 0 15px;
}

.footer__list li {
    margin: 0 0 10px 0;
    padding: 0;
}